<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="stylesheet" href="main.css">
    <script src="main.js" defer></script>
    <title>Ploy Index</title>
</head>
<body>
<div class="login-wrapper">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
</div>
</body>
</html>